<app-toolbar>
  <span *ngIf="!plan">Plan</span>
  <span *ngIf="plan">Plan: {{ plan.name }}</span>

  <div class="right">
    <button
      mat-icon-button
      matTooltip="Create Activity Instance"
      (click)="showDrawerType('createActivityInstance')"
    >
      <mat-icon>add</mat-icon>
    </button>

    <button
      mat-icon-button
      matTooltip="Activity Types"
      (click)="showDrawerType('activityTypes')"
    >
      <mat-icon>menu_book</mat-icon>
    </button>

    <button
      *ngIf="!drawerVisible"
      mat-icon-button
      matTooltip="Open Drawer"
      (click)="drawerVisible = true"
    >
      <mat-icon>menu_open</mat-icon>
    </button>

    <button
      *ngIf="drawerVisible"
      class="close-drawer"
      mat-icon-button
      matTooltip="Close Drawer"
      (click)="drawerVisible = false"
    >
      <mat-icon>menu_open</mat-icon>
    </button>
  </div>
</app-toolbar>

<as-split
  direction="horizontal"
  restrictMove="true"
  unit="pixel"
  [gutterSize]="5"
  [useTransition]="true"
  (dragEnd)="onResize()"
  (transitionEnd)="onResize()"
>
  <as-split-area size="70">
    <as-split
      #verticalSplitAreas
      direction="vertical"
      [gutterSize]="5"
      [useTransition]="true"
      (dragEnd)="tryToCollapsePanels($event)"
    >
      <as-split-area
        *ngFor="let panel of panels; trackBy: trackByPanels"
        [minSize]="panel.minSize"
        [size]="panel.size"
      >
        <ng-container
          *ngTemplateOutlet="
            {
              schedule: schedule,
              simulation: simulation,
              table: table
            }[panel.template];
            context: { $implicit: panel }
          "
        ></ng-container>
      </as-split-area>
    </as-split>
  </as-split-area>

  <as-split-area
    maxSize="800"
    minSize="350"
    size="350"
    [visible]="drawerVisible"
  >
    <div [style.display]="drawer.activityTypes.visible ? 'block' : 'none'">
      <app-panel-header>
        Activity Types
      </app-panel-header>
      <div class="p-1">
        <app-placeholder *ngIf="activityTypes === null"></app-placeholder>
        <app-activity-type-list
          *ngIf="activityTypes !== null"
          [activityTypes]="activityTypes"
        ></app-activity-type-list>
      </div>
    </div>

    <div
      [style.display]="drawer.createActivityInstance.visible ? 'block' : 'none'"
    >
      <app-panel-header>
        Create Activity Instance
      </app-panel-header>
      <div class="p-1">
        <app-placeholder *ngIf="activityTypes === null"></app-placeholder>
        <app-create-activity-instance-form
          *ngIf="activityTypes !== null"
          [activityTypes]="activityTypes"
          [activityTypesMap]="activityTypesMap"
          [createActivityInstanceError]="createActivityInstanceError"
          (create)="onCreateActivityInstance($event)"
        ></app-create-activity-instance-form>
      </div>
    </div>

    <div
      [style.display]="
        drawer.selectedActivityInstance.visible ? 'block' : 'none'
      "
    >
      <app-panel-header>
        Selected Activity Instance
      </app-panel-header>
      <div class="p-1">
        <app-update-activity-instance-form
          *ngIf="selectedActivityInstance; else elseBlock"
          [activityInstance]="selectedActivityInstance"
          [activityTypesMap]="activityTypesMap"
          [updateActivityInstanceError]="updateActivityInstanceError"
          (delete)="onDeleteActivityInstance($event)"
          (update)="onUpdateActivityInstance($event)"
        ></app-update-activity-instance-form>
        <ng-template #elseBlock>
          <mat-card>No Activity Instance Selected</mat-card>
        </ng-template>
      </div>
    </div>
  </as-split-area>
</as-split>

<ng-template #schedule let-panel>
  <div *ngIf="panel.virtualSize > 1.7">
    <app-panel-header>
      Schedule
      <div class="right">
        <app-time-controls
          (restore)="onRestore()"
          (zoomIn)="onZoomIn()"
          (zoomOut)="onZoomOut()"
        ></app-time-controls>
        <button class="link-icon" mat-icon-button>
          <mat-icon>link</mat-icon>
        </button>
      </div>
    </app-panel-header>
    <app-timeline [bands]="scheduleBands"></app-timeline>
  </div>

  <app-panel-collapsed *ngIf="panel.virtualSize === 1.7">
    Schedule
  </app-panel-collapsed>
</ng-template>

<ng-template #simulation let-panel>
  <div *ngIf="panel.virtualSize > 1.7">
    <app-panel-header>
      Simulation
      <div class="right">
        <app-simulation-controls
          (run)="onSimulationRun()"
        ></app-simulation-controls>
        <app-time-controls
          (restore)="onRestore()"
          (zoomIn)="onZoomIn()"
          (zoomOut)="onZoomOut()"
        ></app-time-controls>
        <button class="link-icon" mat-icon-button>
          <mat-icon>link</mat-icon>
        </button>
      </div>
    </app-panel-header>
    <app-timeline
      *ngIf="stateBands !== null"
      [bands]="stateBands"
    ></app-timeline>
    <div class="no-results" *ngIf="stateBands === null">
      Run simulation to view results
    </div>
  </div>

  <app-panel-collapsed *ngIf="panel.virtualSize === 1.7">
    Simulation
  </app-panel-collapsed>
</ng-template>

<ng-template #table let-panel>
  <div *ngIf="panel.virtualSize > 1.7">
    <app-panel-header>
      Table
    </app-panel-header>
    <app-placeholder *ngIf="activityInstances === null"></app-placeholder>
    <ng-container *ngIf="activityInstances !== null">
      <mat-card *ngIf="!activityInstances.length">
        This plan has no activity instances
      </mat-card>

      <app-activity-instances-table
        *ngIf="activityInstances.length"
        [activityInstances]="activityInstances"
        [selectedActivityInstance]="selectedActivityInstance"
        (deleteActivityInstance)="onDeleteActivityInstance($event)"
        (selectActivityInstance)="onSelectActivityInstance($event)"
      ></app-activity-instances-table>
    </ng-container>
  </div>

  <app-panel-collapsed *ngIf="panel.virtualSize === 1.7">
    Table
  </app-panel-collapsed>
</ng-template>
