:host {
  display: block;
  height: calc(100% - var(--toolbar-height, 36px));
}

::ng-deep .ui-state-form-field > div {
  padding: 0;
  margin: 0;
}

as-split-area > div {
  height: 100%;
}

.panel-menu {
  color: #c7c7c7;
}

.panel-overflow-hidden {
  overflow: hidden !important;
}

iframe {
  border: 0;
  height: calc(100% - var(--toolbar-height, 36px));
  margin: 0;
  padding: 0;
  width: 100%;
}

ngx-codemirror {
  height: calc(100% - var(--toolbar-height, 36px));
  width: calc(100% - 10px);
}

::ng-deep .CodeMirror {
  /* 82px is the height of the select form field */
  height: calc(100% - var(--panel-header-height, 36px) - 82px);
}
