<app-toolbar>
  <span *ngIf="!plan">Plan</span>
  <span *ngIf="plan">Plan: {{ plan.name }}</span>
  <span>
    <button
      class="simulation-out-of-date"
      *ngIf="simulationOutOfDate"
      mat-icon-button
      matTooltip="Simulation out of date. Click here to simulate."
      (click)="onSimulate()"
    >
      <mat-icon>error_outline</mat-icon>
    </button>
  </span>

  <div class="right">
    <button
      mat-raised-button
      class="right-button"
      [matBadge]="constraintViolations.length"
      [matBadgeHidden]="constraintViolations.length === 0"
      matBadgeColor="warn"
      matBadgePosition="before"
      matBadgeSize="small"
      matTooltip="Violations"
      [style.opacity]="constraintViolations.length > 0 ? 1.0 : 0.5"
      (click)="onConstraintViolations()"
    >
      Violations
    </button>

    <button
      mat-raised-button
      class="right-button"
      matTooltip="Constraints"
      (click)="onConstraintList()"
    >
      Constraints
    </button>

    <button
      mat-raised-button
      class="right-button"
      matTooltip="Views"
      [matMenuTriggerFor]="viewMenu"
    >
      Views
    </button>
    <mat-menu #viewMenu="matMenu">
      <button mat-menu-item (click)="onEditView()">
        <mat-icon>create</mat-icon>
        <span>Edit View JSON</span>
      </button>
      <button mat-menu-item (click)="onLoadView()">
        <mat-icon>input</mat-icon>
        <span>Load View</span>
      </button>
      <button mat-menu-item (click)="onSaveAsView()">
        <mat-icon>save</mat-icon>
        <span>Save As View</span>
      </button>
      <button
        [disabled]="user?.name !== view?.meta?.owner"
        mat-menu-item
        (click)="onSaveView()"
      >
        <mat-icon>save_alt</mat-icon>
        <span>Save View</span>
      </button>
    </mat-menu>

    <button
      mat-icon-button
      matTooltip="Activity Dictionary"
      (click)="showDrawerType('activityDictionary')"
    >
      <mat-icon svgIcon="activity_dictionary"></mat-icon>
    </button>
  </div>
</app-toolbar>

<as-split
  direction="horizontal"
  restrictMove="true"
  unit="pixel"
  [gutterSize]="5"
  [useTransition]="false"
  (dragEnd)="onResize()"
  (transitionEnd)="onResize()"
>
  <as-split-area size="70">
    <as-split
      #verticalSplitAreas
      direction="vertical"
      [gutterSize]="5"
      [useTransition]="false"
    >
      <as-split-area
        *ngFor="
          let section of view?.sections;
          trackBy: trackByViewSections;
          let order = index
        "
        [minSize]="3.2"
        [order]="order"
        [ngClass]="{
          'overflow-hidden': section.type === 'timeline'
        }"
        [size]="section.size"
      >
        <ng-container
          *ngTemplateOutlet="
            {
              iframe: iframe,
              timeline: timeline,
              table: table
            }[section.type];
            context: { $implicit: section }
          "
        ></ng-container>
      </as-split-area>
    </as-split>
  </as-split-area>

  <as-split-area maxSize="800" minSize="350" size="450" [visible]="true">
    <div *ngIf="drawer.activityDictionary.visible">
      <aerie-header> Activity Dictionary </aerie-header>
      <div class="p-1">
        <app-placeholder *ngIf="activityTypes === null"></app-placeholder>
        <activity-type-list
          *ngIf="activityTypes !== null"
          [activityTypes]="activityTypes"
          (selectActivityType)="onSelectActivityType($event)"
        ></activity-type-list>
      </div>
    </div>

    <div *ngIf="drawer.constraintEditor.visible">
      <constraint-editor
        [constraint]="editingConstraint"
        (save)="onSaveConstraintEditor($event)"
      ></constraint-editor>
    </div>

    <div *ngIf="drawer.constraintList.visible">
      <constraint-list
        [adaptationConstraints]="adaptationConstraints"
        [planConstraints]="planConstraints"
        (create)="onCreateConstraint()"
        (delete)="onDeleteConstraint($event)"
        (edit)="onEditConstraint($event)"
      ></constraint-list>
    </div>

    <div *ngIf="drawer.constraintViolations.visible">
      <aerie-header>Constraint Violations</aerie-header>
      <violation-list
        [violations]="constraintViolations"
        (selectWindow)="onUpdateViewTimeRange($event)"
      ></violation-list>
    </div>

    <div *ngIf="drawer.createActivityInstance.visible">
      <app-placeholder *ngIf="activityTypes === null"></app-placeholder>
      <activity-instance-form
        *ngIf="activityTypes !== null"
        type="create"
        [activityInstancesMap]="activityInstancesMap"
        [activityTypes]="activityTypes"
        [adaptationId]="adaptationId"
        [selectedActivityType]="selectedActivityType"
        (cancel)="onCancel()"
        (create)="onCreateActivityInstance($event)"
      ></activity-instance-form>
    </div>

    <div *ngIf="drawer.viewEditor.visible">
      <aerie-header> View Editor </aerie-header>
      <code-mirror
        [text]="viewText"
        (textChanged)="onViewTextChanged($event)"
      ></code-mirror>
    </div>

    <div *ngIf="drawer.selectedActivityInstance.visible">
      <activity-instance-form
        *ngIf="selectedActivityInstance; else elseBlock"
        type="update"
        [activityInstance]="selectedActivityInstance"
        [activityInstancesMap]="activityInstancesMap"
        [activityTypes]="activityTypes"
        [adaptationId]="adaptationId"
        (delete)="onDeleteActivityInstance($event)"
        (update)="onUpdateActivityInstance($event)"
      ></activity-instance-form>
      <ng-template #elseBlock>
        <mat-card>No Activity Instance Selected</mat-card>
      </ng-template>
    </div>
  </as-split-area>
</as-split>

<ng-template #iframe let-section>
  <aerie-header>
    {{ section.title }}
  </aerie-header>
  <iframe allow="fullscreen" [src]="section.iframe.src | safe"></iframe>
</ng-template>

<ng-template #timeline let-section>
  <aerie-header>
    {{ section.title }}
    <div class="right">
      <button
        class="section-menu"
        *ngIf="section.menu"
        mat-icon-button
        [matMenuTriggerFor]="menu"
      >
        <mat-icon>more_horiz</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="rowsMenu">
          <mat-icon>calendar_view_day</mat-icon>
          <span>Rows</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="verticalGuidesMenu">
          <mat-icon>view_column</mat-icon>
          <span>Vertical Guides</span>
        </button>
        <button
          *ngFor="let item of section.menu"
          mat-menu-item
          (click)="onViewSectionMenuAction(item)"
        >
          <mat-icon>{{ item.icon }}</mat-icon>
          <span>{{ item.title }}</span>
        </button>
      </mat-menu>

      <mat-menu #rowsMenu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="rowsDeleteMenu">
          <mat-icon>delete_forever</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>

      <mat-menu #rowsDeleteMenu="matMenu">
        <ng-container *ngIf="!section.timeline?.rows.length">
          <button mat-menu-item>No Rows Found</button>
        </ng-container>
        <ng-container *ngIf="section.timeline?.rows.length">
          <button
            *ngFor="let row of section.timeline.rows; let i = index"
            mat-menu-item
            (click)="onDeleteRow(row, section.timeline.id)"
          >
            <span>Row {{ i }}</span>
          </button>
        </ng-container>
      </mat-menu>

      <mat-menu #verticalGuidesMenu="matMenu">
        <button
          mat-menu-item
          (click)="onCreateVerticalGuide(section.timeline.id)"
        >
          <mat-icon>add</mat-icon>
          <span>Create New</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="verticalGuidesEditMenu">
          <mat-icon>create</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="verticalGuidesDeleteMenu">
          <mat-icon>delete_forever</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>

      <mat-menu #verticalGuidesEditMenu="matMenu">
        <ng-container *ngIf="!section.timeline?.verticalGuides.length">
          <button mat-menu-item>No Vertical Guides Found</button>
        </ng-container>
        <ng-container *ngIf="section.timeline?.verticalGuides.length">
          <button
            *ngFor="let guide of section.timeline.verticalGuides"
            mat-menu-item
            (click)="onUpdateVerticalGuide(guide, section.timeline.id)"
          >
            <span>{{ guide.label.text }}</span>
          </button>
        </ng-container>
      </mat-menu>

      <mat-menu #verticalGuidesDeleteMenu="matMenu">
        <ng-container *ngIf="!section.timeline?.verticalGuides.length">
          <button mat-menu-item>No Vertical Guides Found</button>
        </ng-container>
        <ng-container *ngIf="section.timeline?.verticalGuides.length">
          <button
            *ngFor="let guide of section.timeline.verticalGuides"
            mat-menu-item
            (click)="onDeleteVerticalGuide(guide, section.timeline.id)"
          >
            <span>{{ guide.label.text }}</span>
          </button>
        </ng-container>
      </mat-menu>
    </div>
  </aerie-header>
  <app-placeholder *ngIf="activityInstances === null"></app-placeholder>
  <aerie-timeline
    [constraintViolations]="constraintViolations"
    [id]="section.timeline.id"
    [marginLeft]="section.timeline.marginLeft"
    [marginRight]="section.timeline.marginRight"
    [maxTimeRange]="maxTimeRange"
    [rows]="section.timeline.rows"
    [verticalGuides]="section.timeline.verticalGuides"
    [viewTimeRange]="viewTimeRange"
    (createHorizontalGuide)="onCreateHorizontalGuide($event)"
    (createPoint)="onCreatePoint($event)"
    (deleteHorizontalGuide)="onDeleteHorizontalGuide($event)"
    (deletePoint)="onDeletePoint($event)"
    (savePoint)="onSavePoint($event)"
    (selectPoint)="onSelectPoint($event)"
    (sortRows)="onSortRows($event)"
    (updateHorizontalGuide)="onUpdateHorizontalGuide($event)"
    (updateLayer)="onUpdateLayer($event)"
    (updatePoint)="onUpdatePoint($event)"
    (updateRow)="onUpdateRow($event)"
    (updateViewTimeRange)="onUpdateViewTimeRange($event)"
  ></aerie-timeline>
</ng-template>

<ng-template #table let-section>
  <aerie-header>
    {{ section.title }}
  </aerie-header>
  <aerie-table
    *ngIf="section.table.type === 'activity'"
    [columns]="section.table.columns"
    [data]="activityInstances"
    [selectedElement]="selectedActivityInstance"
    (deleteElement)="onDeleteActivityInstance($event)"
    (selectElement)="onSelectActivityInstance($event)"
  ></aerie-table>
</ng-template>
