<app-toolbar>
  <span *ngIf="!plan">Plan</span>
  <span *ngIf="plan">Plan: {{ plan.name }}</span>

  <div class="right">
    <button
      mat-icon-button
      matTooltip="Activity Dictionary"
      (click)="showDrawerType('activityDictionary')"
    >
      <mat-icon svgIcon="activity_dictionary"></mat-icon>
    </button>
  </div>
</app-toolbar>

<as-split
  direction="horizontal"
  restrictMove="true"
  unit="pixel"
  [gutterSize]="5"
  [useTransition]="false"
  (dragEnd)="onResize()"
  (transitionEnd)="onResize()"
>
  <as-split-area size="70">
    <as-split
      #verticalSplitAreas
      direction="vertical"
      [gutterSize]="5"
      [useTransition]="false"
    >
      <as-split-area
        *ngFor="let panel of panels; trackBy: trackByPanels; let order = index"
        [minSize]="3.2"
        [order]="order"
        [ngClass]="{
          'panel-overflow-hidden': panel.type === 'timeline'
        }"
        [size]="panel.size"
      >
        <ng-container
          *ngTemplateOutlet="
            {
              iframe: iframe,
              timeline: timeline,
              table: table
            }[panel.type];
            context: { $implicit: panel }
          "
        ></ng-container>
      </as-split-area>
    </as-split>
  </as-split-area>

  <as-split-area
    maxSize="800"
    minSize="350"
    size="450"
    [visible]="drawerVisible"
  >
    <div [style.display]="drawer.activityDictionary.visible ? 'block' : 'none'">
      <app-panel-header>
        Activity Dictionary
      </app-panel-header>
      <div class="p-1">
        <app-placeholder *ngIf="activityTypes === null"></app-placeholder>
        <app-activity-type-list
          *ngIf="activityTypes !== null"
          [activityTypes]="activityTypes"
          (selectActivityType)="onSelectActivityType($event)"
        ></app-activity-type-list>
      </div>
    </div>

    <div
      [style.display]="drawer.createActivityInstance.visible ? 'block' : 'none'"
    >
      <app-placeholder *ngIf="activityTypes === null"></app-placeholder>
      <app-upsert-activity-instance-form
        *ngIf="activityTypes !== null"
        type="create"
        [activityTypes]="activityTypes"
        [selectedActivityType]="selectedActivityType"
        (cancel)="onCancel()"
        (create)="onCreateActivityInstance($event)"
      ></app-upsert-activity-instance-form>
    </div>

    <div [style.display]="drawer.panelEditor.visible ? 'block' : 'none'">
      <app-panel-header>
        Panel Editor
      </app-panel-header>
      <form class="p-1">
        <mat-form-field class="ui-state-form-field w-100" appearance="outline">
          <mat-select
            [value]="selectedUiState?.id"
            (selectionChange)="onUiStateChanged($event)"
          >
            <mat-option *ngFor="let uiState of uiStates" [value]="uiState.id">
              {{ uiState.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <ngx-codemirror
        [(ngModel)]="panelsText"
        [options]="panelsEditorOptions"
      ></ngx-codemirror>
    </div>

    <div
      [style.display]="
        drawer.selectedActivityInstance.visible ? 'block' : 'none'
      "
    >
      <app-upsert-activity-instance-form
        *ngIf="selectedActivityInstance; else elseBlock"
        type="update"
        [activityInstance]="selectedActivityInstance"
        [activityTypes]="activityTypes"
        (delete)="onDeleteActivityInstance($event)"
        (update)="onUpdateActivityInstance($event)"
      ></app-upsert-activity-instance-form>
      <ng-template #elseBlock>
        <mat-card>No Activity Instance Selected</mat-card>
      </ng-template>
    </div>
  </as-split-area>
</as-split>

<ng-template #iframe let-panel>
  <app-panel-header>
    {{ panel.title }}
  </app-panel-header>
  <iframe allow="fullscreen" [src]="panel.iframe.src | safe"></iframe>
</ng-template>

<ng-template #timeline let-panel>
  <app-panel-header>
    {{ panel.title }}
    <div class="right">
      <button
        class="panel-menu"
        *ngIf="panel.menu"
        mat-icon-button
        [matMenuTriggerFor]="menu"
      >
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          *ngFor="let item of panel.menu"
          mat-menu-item
          (click)="onPanelMenuAction(item)"
        >
          <mat-icon>{{ item.icon }}</mat-icon>
          <span>{{ item.title }}</span>
        </button>
      </mat-menu>
    </div>
  </app-panel-header>
  <app-placeholder *ngIf="activityInstances === null"></app-placeholder>
  <app-timeline
    *ngIf="activityInstances"
    [bands]="panel.bands"
    [constraintViolations]="panel.constraintViolations"
    [maxTimeRange]="maxTimeRange"
    [verticalGuides]="panel.verticalGuides"
    [viewTimeRange]="viewTimeRange"
  ></app-timeline>
</ng-template>

<ng-template #table let-panel>
  <app-panel-header>
    {{ panel.title }}
  </app-panel-header>
  <app-data-table
    *ngIf="panel.table.type === 'activity'"
    [columns]="panel.table.columns"
    [data]="activityInstances"
    [selectedElement]="selectedActivityInstance"
    (deleteElement)="onDeleteActivityInstance($event)"
    (selectElement)="onSelectActivityInstance($event)"
  ></app-data-table>
</ng-template>
