{
  "extends": ["stylelint-config-prettier", "stylelint-config-html/svelte"],
  "plugins": ["stylelint-order"],
  "rules": {
    "declaration-empty-line-before": "never",
    "function-name-case": null,
    "function-no-unknown": null,
    "order/properties-alphabetical-order": true,
    "selector-class-pattern": "^([a-z][a-z0-9]*)(-{1,2}[a-z0-9]+)*$"
  }
}
