<app-panel-header>
  Violations
</app-panel-header>

<form class="p-1 pb-3">
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Search</mat-label>
    <input
      (input)="filterConstraintViolations($event.target.value)"
      type="text"
      matInput
      autocomplete="off"
    />
    <mat-icon matSuffix>search</mat-icon>
    <mat-hint>Violation Category</mat-hint>
  </mat-form-field>
</form>

<mat-card *ngIf="filteredConstraintViolations === null">
  No Constraint Violations Found
</mat-card>

<ng-container *ngIf="filteredConstraintViolations">
  <div
    class="category"
    *ngFor="let category of filteredConstraintViolations | keyvalue"
  >
    <mat-expansion-panel
      [expanded]="violationListState.category[category.key].expanded"
      (afterCollapse)="onToggleViolationCategoryExpanded(category.key, false)"
      (afterExpand)="onToggleViolationCategoryExpanded(category.key, true)"
    >
      <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px">
        <mat-panel-title>
          <span
            [matBadge]="category.value.length"
            matBadgeColor="warn"
            matBadgeOverlap="false"
            matBadgeSize="small"
          >
            {{ category.key | titlecase }}
          </span>
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon
            *ngIf="violationListState.category[category.key].visible === true"
            (click)="
              onToggleViolationCategoryVisibility($event, category.key, false)
            "
            matRipple
            class="visibility-icon"
            matTooltip="Hide Category"
          >
            visibility
          </mat-icon>
          <mat-icon
            *ngIf="violationListState.category[category.key].visible === false"
            (click)="
              onToggleViolationCategoryVisibility($event, category.key, true)
            "
            matRipple
            class="visibility-icon"
            matTooltip="Show Category"
          >
            visibility_off
          </mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ul>
        <li *ngFor="let violation of category.value">
          <app-constraint-violation-list-node
            [activityInstances]="activityInstances"
            [violation]="violation"
            [violationListState]="violationListState"
            (selectWindow)="onSelectWindow($event)"
          ></app-constraint-violation-list-node>
        </li>
      </ul>
    </mat-expansion-panel>
  </div>
</ng-container>
