<panel-header> Violations </panel-header>

<form class="p-1 pb-3">
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Search</mat-label>
    <input
      (input)="filterViolations($event.target.value)"
      type="text"
      matInput
      autocomplete="off"
    />
    <mat-icon matSuffix>search</mat-icon>
    <mat-hint>
      Violation Name, Activity Instance Type, State Name, or Window
    </mat-hint>
  </mat-form-field>
</form>

<mat-card *ngIf="emptyViolations"> No Violations Found </mat-card>

<ng-container *ngIf="!emptyViolations">
  <div class="category" *ngFor="let category of filteredViolations | keyvalue">
    <mat-expansion-panel
      [expanded]="violationListState.category[category.key].expanded"
      (afterCollapse)="onToggleViolationCategoryExpanded(category.key, false)"
      (afterExpand)="onToggleViolationCategoryExpanded(category.key, true)"
    >
      <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px">
        <mat-panel-title>
          <span
            [matBadge]="category.value.length"
            matBadgeColor="warn"
            matBadgeOverlap="false"
            matBadgeSize="small"
          >
            {{ category.key | titlecase }}
          </span>
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon
            *ngIf="violationListState.category[category.key].visible === true"
            (click)="
              onToggleViolationCategoryVisibility($event, category.key, false)
            "
            matRipple
            class="visibility-icon"
            matTooltip="Hide Category"
          >
            visibility
          </mat-icon>
          <mat-icon
            *ngIf="violationListState.category[category.key].visible === false"
            (click)="
              onToggleViolationCategoryVisibility($event, category.key, true)
            "
            matRipple
            class="visibility-icon"
            matTooltip="Show Category"
          >
            visibility_off
          </mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ul>
        <li
          *ngFor="let violation of category.value; trackBy: trackByViolations"
        >
          <violation-list-node
            [activityInstanceIdToType]="activityInstanceIdToType"
            [violation]="violation"
            [violationListState]="violationListState"
            (selectWindow)="onSelectWindow($event)"
          ></violation-list-node>
        </li>
      </ul>
    </mat-expansion-panel>
  </div>
</ng-container>
