<svg>
  <g [attr.transform]="'translate(' + marginLeft + ',' + marginTop + ')'">
    <g
      #constraintViolationsGroup
      class="constraint-violations"
      [attr.transform]="'translate(0, 0)'"
    ></g>
    <g #guides class="guides" [attr.transform]="'translate(0, 0)'">
      <text
        y="0"
        x="-60"
        fill="rgba(0, 0, 0, 0.38)"
        font-size="10px"
        font-style="italic"
        style="text-transform: uppercase; text-anchor: middle"
      >
        Markers
      </text>
    </g>
    <g [attr.transform]="'translate(0, 18)'">
      <g #brush></g>
      <g #yearDayAxis>
        <text
          y="0"
          x="-60"
          fill="rgba(0, 0, 0, 0.38)"
          font-size="10px"
          font-style="italic"
          style="text-transform: uppercase; text-anchor: middle"
        >
          Year-Day
        </text>
      </g>
      <g #timeAxis [attr.transform]="'translate(0, 18)'">
        <text
          y="0"
          x="-60"
          fill="rgba(0, 0, 0, 0.38)"
          font-size="10px"
          font-style="italic"
          style="text-transform: uppercase; text-anchor: middle"
        >
          Time
        </text>
      </g>
    </g>
  </g>
</svg>
