<form>
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Search</mat-label>
    <input
      (input)="filterActivityTypes($event.target.value)"
      type="text"
      matInput
      autocomplete="off"
    />
    <mat-icon matSuffix>search</mat-icon>
    <mat-hint>Find Activity Type</mat-hint>
  </mat-form-field>
</form>

<mat-card *ngIf="filteredActivityTypes.length === 0">
  No Activities Types Found
</mat-card>

<mat-nav-list>
  <mat-list-item
    class="list-item"
    *ngFor="let activityType of filteredActivityTypes"
    (click)="onActivityTypeSelect(activityType)"
  >
    <h4 mat-line>{{ activityType.name }}</h4>
    <mat-hint mat-line></mat-hint>
    <mat-icon
      class="drag-indicator"
      (click)="onClick($event)"
      (mousedown)="onMouseDown($event)"
      (mouseup)="onMouseUp($event)"
    >
      drag_indicator
    </mat-icon>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-nav-list>
