mat-error {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

mat-expansion-panel {
  border-radius: 0px;
}

mat-expansion-panel-header {
  border-radius: 0px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
}

.expansion-panel-body {
  padding: 15px;
}
