@font-face {
  font-family: "aerie-icons";
  src: url("./aerie-icons.woff2?7eee31f271dc3a39b47f0cb2cd92d20c") format("woff2"),
url("./aerie-icons.woff?7eee31f271dc3a39b47f0cb2cd92d20c") format("woff");
}

[class^="ai-"]::before,
[class*=" ai-"]::before {
  display: inline-block;
  font-family: aerie-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ai-activity_dictionary::before { content: "\f101"; }
.ai-graphql::before { content: "\f102"; }
.ai-plan::before { content: "\f103"; }
.ai-timeline::before { content: "\f104"; }
