<div
  class="interaction-container"
  (dragenter)="onDragEnter($event)"
  (dragleave)="onDragLeave()"
  (dragover)="onDragOver($event)"
  (drop)="onDrop($event)"
  [ngStyle]="{
    height: drawHeight + 'px',
    transform: 'translate(' + marginLeft + 'px ,' + marginTop + 'px)',
    width: drawWidth + 'px'
  }"
>
  <svg
    #interactionContainerSvg
    [ngStyle]="{
      height: drawHeight + 'px',
      width: drawWidth + 'px'
    }"
  >
    <g #annotationGroup class="annotation-group"></g>
    <g #horizontalGuideGroup class="horizontal-guide-group"></g>
    <g #verticalGuideGroup class="vertical-guide-group"></g>
    <g #constraintViolationsGroup class="constraint-violations-group"></g>
  </svg>
</div>

<div
  class="sub-bands-container"
  [ngStyle]="{
    height: drawHeight + 'px',
    transform: 'translate(' + marginLeft + 'px ,' + marginTop + 'px)',
    width: drawWidth + 'px'
  }"
>
  <ng-container *ngFor="let subBand of subBands">
    <app-activity-band
      *ngIf="subBand.chartType === 'activity'"
      [drawHeight]="drawHeight"
      [drawWidth]="drawWidth"
      [id]="subBand.id"
      [layout]="subBand.layout"
      [maxTimeRange]="maxTimeRange"
      [points]="subBand.points"
      [viewTimeRange]="viewTimeRange"
    ></app-activity-band>
    <app-line-band
      *ngIf="subBand.chartType === 'line'"
      [color]="subBand.color"
      [drawHeight]="drawHeight"
      [drawWidth]="drawWidth"
      [id]="subBand.id"
      [interpolationType]="subBand.interpolationType"
      [maxTimeRange]="maxTimeRange"
      [points]="subBand.points"
      [viewTimeRange]="viewTimeRange"
      [yAxes]="yAxes"
      [yAxisId]="subBand.yAxisId"
    ></app-line-band>
    <app-x-range-band
      *ngIf="subBand.chartType === 'x-range'"
      [drawHeight]="drawHeight"
      [drawWidth]="drawWidth"
      [id]="subBand.id"
      [maxTimeRange]="maxTimeRange"
      [points]="subBand.points"
      [viewTimeRange]="viewTimeRange"
    ></app-x-range-band>
  </ng-container>
</div>

<svg class="axis-container">
  <g
    #axisContainerGroup
    [attr.transform]="'translate(' + marginLeft + ',' + marginTop + ')'"
  ></g>
</svg>

<div class="menu">
  <button
    #menuTrigger="matMenuTrigger"
    [matMenuTriggerFor]="bandMenu"
    mat-icon-button
  >
    <mat-icon class="menu-icon">more_horiz</mat-icon>
  </button>

  <mat-menu #bandMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="horizontalGuidesMenu">
      <mat-icon>horizontal_split</mat-icon>
      <span>Horizontal Guides</span>
    </button>
  </mat-menu>

  <mat-menu #horizontalGuidesMenu="matMenu">
    <button mat-menu-item (click)="onCreateHorizontalGuide()">
      <mat-icon>add</mat-icon>
      <span>Create</span>
    </button>
    <button
      mat-menu-item
      *ngIf="showHorizontalGuides"
      (click)="showHorizontalGuides = false; drawHorizontalGuides()"
    >
      <mat-icon>visibility_off</mat-icon>
      <span>Hide All</span>
    </button>
    <button
      mat-menu-item
      *ngIf="!showHorizontalGuides"
      (click)="showHorizontalGuides = true; drawHorizontalGuides()"
    >
      <mat-icon>visibility</mat-icon>
      <span>Show All</span>
    </button>
    <button
      mat-menu-item
      *ngIf="showHorizontalGuideLabels"
      (click)="showHorizontalGuideLabels = false; drawHorizontalGuides()"
    >
      <mat-icon>visibility_off</mat-icon>
      <span>Hide All Labels</span>
    </button>
    <button
      mat-menu-item
      *ngIf="!showHorizontalGuideLabels"
      (click)="showHorizontalGuideLabels = true; drawHorizontalGuides()"
    >
      <mat-icon>visibility</mat-icon>
      <span>Show All Labels</span>
    </button>
    <button
      *ngFor="let guide of horizontalGuides"
      [matMenuTriggerFor]="guideMenu"
      mat-menu-item
    >
      {{ guide.label.text }}
      <mat-menu #guideMenu="matMenu">
        <button mat-menu-item (click)="onEditHorizontalGuide(guide)">
          <mat-icon>create</mat-icon>
          <span>Edit</span>
        </button>
        <button
          mat-menu-item
          (click)="deleteHorizontalGuide.emit(guide); menuTrigger.closeMenu()"
        >
          <mat-icon>delete_forever</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </button>
  </mat-menu>
</div>
