<div
  class="interaction-container"
  [ngStyle]="{
    height: drawHeight + 'px',
    transform: 'translate(' + marginLeft + 'px ,' + marginTop + 'px)',
    width: drawWidth + 'px'
  }"
>
  <svg
    #interactionContainerSvg
    [ngStyle]="{
      height: drawHeight + 'px',
      width: drawWidth + 'px'
    }"
  >
    <g #annotationGroup class="annotation-group"></g>
  </svg>
</div>

<div
  class="sub-bands-container"
  [ngStyle]="{
    height: drawHeight + 'px',
    transform: 'translate(' + marginLeft + 'px ,' + marginTop + 'px)',
    width: drawWidth + 'px'
  }"
>
  <ng-container *ngFor="let subBand of subBands; trackBy: trackBySubBands">
    <app-activity-band
      *ngIf="subBand.type === 'activity'"
      [drawHeight]="drawHeight"
      [drawWidth]="drawWidth"
      [id]="subBand.id"
      [layout]="subBand.layout"
      [maxTimeRange]="maxTimeRange"
      [points]="subBand.points"
      [viewTimeRange]="viewTimeRange"
    ></app-activity-band>
  </ng-container>
</div>

<svg class="axis-container">
  <g
    #axisContainerGroup
    [attr.transform]="'translate(' + marginLeft + ',' + marginTop + ')'"
  ></g>
</svg>

<app-context-menu-trigger
  #activityBandContextMenuTrigger="matMenuTrigger"
  [matMenuTriggerFor]="activityBandContextMenu"
  [position]="contextMenuPosition"
></app-context-menu-trigger>
<mat-menu #activityBandContextMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <button
      mat-menu-item
      (click)="deletePoint.emit({ id: item.id, type: 'activity' })"
    >
      <mat-icon>delete_forever</mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>
