<div
  class="interaction-container"
  (dragenter)="onDragEnter($event)"
  (dragleave)="onDragLeave()"
  (dragover)="onDragOver($event)"
  (drop)="onDrop($event)"
  [ngStyle]="{
    height: drawHeight + 'px',
    transform: 'translate(' + marginLeft + 'px ,' + marginTop + 'px)',
    width: drawWidth + 'px'
  }"
>
  <svg
    #interactionContainerSvg
    [ngStyle]="{
      height: drawHeight + 'px',
      width: drawWidth + 'px'
    }"
  >
    <g #annotationGroup class="annotation-group"></g>
  </svg>
</div>

<div
  class="sub-bands-container"
  [ngStyle]="{
    height: drawHeight + 'px',
    transform: 'translate(' + marginLeft + 'px ,' + marginTop + 'px)',
    width: drawWidth + 'px'
  }"
>
  <ng-container *ngFor="let subBand of subBands; trackBy: trackBySubBands">
    <app-activity-band
      *ngIf="subBand.type === 'activity'"
      [drawHeight]="drawHeight"
      [drawWidth]="drawWidth"
      [id]="subBand.id"
      [layout]="subBand.layout"
      [maxTimeRange]="maxTimeRange"
      [points]="subBand.points"
      [viewTimeRange]="viewTimeRange"
    ></app-activity-band>
    <app-line-band
      *ngIf="subBand.type === 'line'"
      [color]="subBand.color"
      [drawHeight]="drawHeight"
      [drawWidth]="drawWidth"
      [id]="subBand.id"
      [interpolationType]="subBand.interpolationType"
      [maxTimeRange]="maxTimeRange"
      [points]="subBand.points"
      [viewTimeRange]="viewTimeRange"
      [yAxes]="yAxes"
      [yAxisId]="subBand.yAxisId"
    ></app-line-band>
    <app-x-range-band
      *ngIf="subBand.type === 'x-range'"
      [drawHeight]="drawHeight"
      [drawWidth]="drawWidth"
      [id]="subBand.id"
      [maxTimeRange]="maxTimeRange"
      [points]="subBand.points"
      [viewTimeRange]="viewTimeRange"
    ></app-x-range-band>
  </ng-container>
</div>

<svg class="axis-container">
  <g
    #axisContainerGroup
    [attr.transform]="'translate(' + marginLeft + ',' + marginTop + ')'"
  ></g>
</svg>
