:host {
  background: white;
  border-bottom: 1px solid lightgrey;
  display: block;
  height: var(--height, 200px);
  position: relative;
  width: 100%;
  z-index: 0;
}

::ng-deep g.axis--x .tick > line {
  stroke: lightgrey;
}

::ng-deep g.axis--x .domain {
  display: none;
}

::ng-deep g.axis--x .tick > text {
  display: none;
}

::ng-deep .guide--horizontal-text {
  fill: rgba(0, 0, 0, 0.38);
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 1.75px;
  line-height: 16px;
  text-transform: uppercase;
}

.menu {
  position: relative;
  left: calc(100% - 40px);
}

.menu-icon {
  color: #c7c7c7;
}

.axis-container,
.interaction-container,
.sub-bands-container {
  cursor: pointer;
  height: inherit;
  position: absolute;
  width: inherit;
}

.axis-container {
  z-index: -1;
}

.interaction-container {
  z-index: 2;
}

.sub-bands-container {
  z-index: 1;
}
