<mat-sidenav-container>
  <mat-sidenav mode="side" [disableClose]="true" [opened]="true">
    <div class="nav-list">
      <mat-nav-list>
        <a
          *ngIf="!isLoginPage"
          mat-list-item
          matTooltip="Plans"
          matTooltipPosition="right"
          routerLink="/plans"
          routerLinkActive="active"
        >
          <mat-icon mat-list-icon>date_range</mat-icon>
          <span matLine>Plans</span>
        </a>
        <a
          *ngIf="!isLoginPage"
          mat-list-item
          matTooltip="Adaptations"
          matTooltipPosition="right"
          routerLink="/adaptations"
          routerLinkActive="active"
        >
          <mat-icon mat-list-icon>developer_board</mat-icon>
          <span matLine>Adaptations</span>
        </a>
        <a
          *ngIf="!isLoginPage"
          mat-list-item
          matTooltip="Editor"
          matTooltipPosition="right"
          (click)="onOpenEditor()"
        >
          <mat-icon mat-list-icon>code</mat-icon>
          <span matLine>Editor</span>
        </a>
        <a
          *ngIf="!isLoginPage"
          [href]="aerieApolloServerUrl"
          mat-list-item
          matTooltip="GraphQL"
          matTooltipPosition="right"
          rel="noopener noreferrer"
          target="_blank"
        >
          <mat-icon mat-list-icon svgIcon="graphql"></mat-icon>
          <span matLine>GraphQL</span>
        </a>
        <a
          *ngIf="!isLoginPage"
          mat-list-item
          matTooltip="Logout"
          matTooltipPosition="right"
          (click)="onLogout()"
        >
          <mat-icon mat-list-icon>exit_to_app</mat-icon>
          <span matLine>Logout</span>
        </a>
        <a
          mat-list-item
          matTooltip="About"
          matTooltipPosition="right"
          (click)="onAbout()"
        >
          <mat-icon mat-list-icon>info</mat-icon>
          <span matLine>About</span>
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-progress-bar
      *ngIf="loading"
      color="accent"
      mode="indeterminate"
    ></mat-progress-bar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
