.st-button {
  color: var(--st-button-primary-color);
  font-family: var(--st-button-font-family);
  font-size: var(--st-button-font-size);
  font-weight: var(--st-button-font-weight);
  line-height: var(--st-button-line-height);
  letter-spacing: var(--st-button-letter-spacing);
  user-select: none;
  align-items: center;
  background-color: var(--st-button-primary-background-color);
  border: var(--st-button-primary-border);
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  height: var(--st-grid-unit3x);
  justify-content: center;
  padding: 0 var(--st-grid-unit);
}
.st-button.secondary {
  background-color: var(--st-button-secondary-background-color);
  border: var(--st-button-secondary-border);
  color: var(--st-button-secondary-color);
}
.st-button.secondary:hover:not([disabled]) {
  background-color: var(--st-button-secondary-hover-background-color);
}
.st-button.tertiary {
  background-color: transparent;
  border: 0;
  color: var(--st-button-tertiary-color);
}
.st-button.tertiary:hover:not([disabled]) {
  background-color: var(--st-button-tertiary-hover-background-color);
}
.st-button:disabled {
  background-color: var(--st-button-disabled-background-color);
  border: 0;
  color: var(--st-button-disabled-color);
  cursor: not-allowed;
  opacity: 80%;
}
.st-button:hover:not([disabled]) {
  background-color: var(--st-button-primary-hover-background-color);
}
.st-button.icon {
  background-color: transparent;
  color: var(--st-button-icon-color);
  padding: 0;
  border: 0;
  min-width: var(--st-button-icon-min-width);
}
.st-button.icon:hover {
  background-color: var(--st-button-icon-hover-background-color);
}
