:root {
  /* Emphasis Colors. */
  --st-black: #000;
  --st-blue: #4fa1ff;
  --st-green: #1aff66;
  --st-orange: #fdb462;
  --st-red: #ff7760;
  --st-white: #fff;
  --st-yellow: #ffdd5c;
  --st-yellow-light: #ffc93e;
  /* Gray Color Pallette. */
  /* When used as text, these are accessible on white and the lightest gray (#F8F8F8). */
  --st-gray-100: #1b1d1e;
  --st-gray-100-RGB: 27, 29, 30;
  --st-gray-90: #1f2223;
  --st-gray-90-RGB: 31, 34, 35;
  --st-gray-80: #293137;
  --st-gray-80-RGB: 41, 49, 55;
  --st-gray-70: #444c50;
  --st-gray-70-RGB: 68, 76, 80, 1;
  --st-gray-60: #545f64;
  --st-gray-60-RGB: 84, 95, 100;
  /* When used as text, these are accessible on black and the darkest gray (#1B1D1E). */
  --st-gray-50: #969696;
  --st-gray-50-RGB: 150, 150, 150;
  --st-gray-40: #bcbcbc;
  --st-gray-40-RGB: 188, 188, 188;
  --st-gray-30: #bec0c2;
  --st-gray-30-RGB: 190, 192, 194;
  --st-gray-20: #ebecec;
  --st-gray-20-RGB: 235, 236, 236;
  --st-gray-15: #f1f2f3;
  --st-gray-15-RGB: 241, 242, 243;
  --st-gray-10: #f8f8f8;
  --st-gray-10-RGB: 248, 248, 248;
  /* Primary Color Pallette. */
  --st-primary-100: #46039c;
  --st-primary-90: #5809bb;
  --st-primary-80: #6b0ee1;
  --st-primary-70: #984eff;
  --st-primary-60: #984eff;
  --st-primary-50: #a864ff;
  --st-primary-40: #b881ff;
  --st-primary-30: #caa0ff;
  --st-primary-20: #e0caff;
  --st-primary-10: #f0e4ff;
  --st-primary: var(--st-primary-50);
  --st-primary-background-color: var(--st-white);
  --st-primary-inverse-background-color: var(--st-gray-10);
  --st-primary-inverse-text-color: var(--st-white);
  --st-primary-text-color: var(--st-gray-10);
  /* Utility Colors */
  --st-button-stroke: rgba(0, 0, 0, 0.16);
  --st-error-red: #ff7760;
  /* Layout. */
  --st-grid-unit: 8px;
  --st-grid-unit2x: calc(var(--st-grid-unit) * 2);
  --st-grid-unit3x: calc(var(--st-grid-unit) * 3);
  --st-grid-unit4x: calc(var(--st-grid-unit) * 4);
  /* Typography. */
  --st-typography-font-family: Inter, Roboto, Arial, Helvetica, sans-serif;
  --st-typography-header-font-family: var(--st-typography-font-family);
  --st-typography-header-color: var(--st-gray-100);
  --st-typography-header-font-weight: 700;
  --st-typography-header-font-size: 16px;
  --st-typography-header-line-height: 24px;
  --st-typography-header-letter-spacing: 0.03em;
  --st-typography-label-font-family: var(--st-typography-font-family);
  --st-typography-label-color: rgba(var(--st-gray-100-RGB), 0.65);
  --st-typography-label-font-weight: 400;
  --st-typography-label-font-size: 12px;
  --st-typography-label-line-height: 16px;
  --st-typography-label-letter-spacing: 0.04em;
  --st-typography-body-font-family: var(--st-typography-font-family);
  --st-typography-body-color: rgba(var(--st-gray-100-RGB), 0.9);
  --st-typography-body-font-weight: 400;
  --st-typography-body-font-size: 12px;
  --st-typography-body-line-height: 16px;
  --st-typography-body-letter-spacing: 0.04em;
  --st-typography-medium-font-family: var(--st-typography-font-family);
  --st-typography-medium-color: var(--st-gray-100);
  --st-typography-medium-font-weight: 500;
  --st-typography-medium-font-size: 12px;
  --st-typography-medium-line-height: 16px;
  --st-typography-medium-letter-spacing: 0.025em;
  --st-typography-bold-font-family: var(--st-typography-font-family);
  --st-typography-bold-color: var(--st-gray-100);
  --st-typography-bold-font-weight: 700;
  --st-typography-bold-font-size: 12px;
  --st-typography-bold-line-height: 16px;
  --st-typography-bold-letter-spacing: 0.05em;
  --st-typography-small-caps-font-family: var(--st-typography-font-family);
  --st-typography-small-caps-color: rgba(var(--st-gray-100-RGB), 0.65);
  --st-typography-small-caps-font-weight: 700;
  --st-typography-small-caps-font-size: 11px;
  --st-typography-small-caps-line-height: 16px;
  --st-typography-small-caps-letter-spacing: 0.1em;
  --st-typography-display-h1-font-family: var(--st-typography-font-family);
  --st-typography-display-h1-color: var(--st-gray-100);
  --st-typography-display-h1-font-weight: 700;
  --st-typography-display-h1-font-size: 40px;
  --st-typography-display-h1-line-height: 48px;
  --st-typography-display-h1-letter-spacing: -0.02em;
  --st-typography-display-h2-font-family: var(--st-typography-font-family);
  --st-typography-display-h2-color: var(--st-gray-100);
  --st-typography-display-h2-font-weight: 700;
  --st-typography-display-h2-font-size: 32px;
  --st-typography-display-h2-line-height: 40px;
  --st-typography-display-h2-letter-spacing: -0.005em;
  --st-typography-display-h3-font-family: var(--st-typography-font-family);
  --st-typography-display-h3-color: var(--st-gray-100);
  --st-typography-display-h3-font-weight: 600;
  --st-typography-display-h3-font-size: 24px;
  --st-typography-display-h3-line-height: 32px;
  --st-typography-display-h3-letter-spacing: 0;
  --st-typography-display-body-font-family: var(--st-typography-font-family);
  --st-typography-display-body-color: var(--st-gray-100);
  --st-typography-display-body-font-weight: 400;
  --st-typography-display-body-font-size: 16px;
  --st-typography-display-body-line-height: 24px;
  --st-typography-display-body-letter-spacing: 0.01em;
  /* Button. */
  --st-button-disabled-background-color: var(--st-gray-20);
  --st-button-disabled-color: var(--st-gray-40);
  --st-button-font-family: var(--st-typography-font-family);
  --st-button-font-weight: var(--st-typography-medium-font-weight);
  --st-button-font-size: var(--st-typography-medium-font-size);
  --st-button-line-height: var(--st-typography-medium-line-height);
  --st-button-letter-spacing: var(--st-typography-medium-letter-spacing);
  --st-button-primary-background-color: var(--st-primary-80);
  --st-button-primary-border: 0;
  --st-button-primary-color: rgba(var(--st-gray-10-RGB), 0.96);
  --st-button-primary-hover-background-color: var(--st-primary-90);
  --st-button-secondary-background-color: var(--st-gray-15);
  --st-button-secondary-border: none;
  --st-button-secondary-color: rgba(var(--st-gray-20), 0.96);
  --st-button-secondary-hover-background-color: var(--st-gray-20);
  --st-button-tertiary-color: rgba(var(--st-gray-80-RGB), 0.96);
  --st-button-tertiary-hover-background-color: var(--st-gray-10);
  --st-button-icon-color: var(--st-gray-80);
  --st-button-icon-hover-background-color: var(--st-gray-10);
  --st-button-icon-min-width: var(--st-grid-unit3x);
  /* Input. */
  --st-input-border: 1px solid var(--st-gray-15);
  --st-input-background-color: var(--st-gray-10);
  --st-input-color: var(--st-gray-80);
  --st-input-error-background-color: rgb(255 119 96 / 20%);
  --st-input-font-family: var(--st-typography-font-family);
  --st-input-font-weight: var(--st-typography-body-font-weight);
  --st-input-font-size: var(--st-typography-body-font-size);
  --st-input-icon-color: var(--st-gray-40);
  --st-input-line-height: var(--st-typography-body-line-height);
  --st-input-letter-spacing: var(--st-typography-body-letter-spacing);
  --st-input-padding: 3px 6px;
  --st-input-placeholder-color: var(--st-gray-50);
  --st-input-warning-background-color: rgb(253 180 98 / 20%);
  --st-input-textarea-min-width: calc(var(--st-grid-unit) * 14);
  --st-input-textarea-min-height: calc(var(--st-grid-unit) * 7);
  /* Select. */
  --st-select-background: var(--st-white);
  --st-select-border: 1px solid var(--st-button-stroke);
  --st-select-color: var(--st-gray-80);
  --st-select-error-background-color: rgb(255 119 96 / 20%);
  --st-select-font-family: var(--st-typography-font-family);
  --st-select-font-weight: var(--st-typography-label-font-weight);
  --st-select-font-size: var(--st-typography-label-font-size);
  --st-select-height: 24px;
  --st-select-hover-background: var(--st-gray-10);
  --st-select-letter-spacing: var(--st-typography-label-letter-spacing);
  --st-select-line-height: var(--st-typography-label-line-height);
  /* Table. */
  --st-table-th-padding: var(--st-grid-unit);
  --st-table-th-background: var(--st-gray-10);
  --st-table-th-box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.09);
  --st-table-th-color: var(--st-gray-100);
  --st-table-th-font-family: var(--st-typography-font-family);
  --st-table-th-font-weight: var(--st-typography-medium-font-weight);
  --st-table-th-font-size: var(--st-typography-medium-font-size);
  --st-table-th-line-height: var(--st-typography-medium-line-height);
  --st-table-th-letter-spacing: var(--st-typography-medium-letter-spacing);
  --st-table-td-padding: var(--st-grid-unit);
  --st-table-td-background: var(--st-white);
  --st-table-td-box-shadow: inset 0px -1px 0px #e3e7eb;
  --st-table-td-color: var(--st-gray-100);
  --st-table-td-font-family: var(--st-typography-font-family);
  --st-table-td-font-weight: var(--st-typography-body-font-weight);
  --st-table-td-font-size: var(--st-typography-body-font-size);
  --st-table-td-line-height: var(--st-typography-body-line-height);
  --st-table-td-letter-spacing: var(--st-typography-body-letter-spacing);
  /* Card (not represented in design system). */
  --st-card-border: 1px solid rgb(0 0 0 / 12.5%);
}
