<div class="time-axis-container">
  <app-time-axis-global
    [marginLeft]="marginLeft"
    [marginRight]="marginRight"
    [marginTop]="marginTop"
    [maxTimeRange]="maxTimeRange"
    [viewTimeRange]="viewTimeRange"
    (updateViewTimeRange)="onUpdateViewTimeRange($event)"
  ></app-time-axis-global>
  <app-time-axis
    [marginLeft]="marginLeft"
    [marginRight]="marginRight"
    [marginTop]="marginTop"
    [maxTimeRange]="maxTimeRange"
    [viewTimeRange]="viewTimeRange"
    (updateViewTimeRange)="onUpdateViewTimeRange($event)"
  ></app-time-axis>
</div>
<div class="band-container">
  <app-band
    *ngFor="let band of bands; trackBy: trackByBands"
    [height]="band.height"
    [id]="band.id"
    [marginBottom]="marginBottom"
    [marginLeft]="marginLeft"
    [marginRight]="marginRight"
    [marginTop]="marginTop"
    [maxTimeRange]="maxTimeRange"
    [subBands]="band.subBands"
    [type]="band.type"
    [viewTimeRange]="viewTimeRange"
    [yAxes]="band.yAxes"
    (createPoint)="onCreatePoint($event)"
    (deletePoint)="onDeletePoint($event)"
    (savePoint)="onSavePoint($event)"
    (selectPoint)="onSelectPoint($event)"
    (updatePoint)="onUpdatePoint($event)"
  ></app-band>
</div>
