<app-time-axis-controls
  (restore)="onRestore()"
  (simulationClear)="onSimulationClear()"
  (simulationRun)="onSimulationRun()"
  (zoomIn)="onZoomIn()"
  (zoomOut)="onZoomOut()"
></app-time-axis-controls>
<div class="time-axis-container">
  <app-time-axis
    [marginLeft]="marginLeft"
    [marginRight]="marginRight"
    [marginTop]="marginTop"
    [maxTimeRange]="maxTimeRange"
    [viewTimeRange]="viewTimeRange"
    (updateViewTimeRange)="onUpdateViewTimeRange($event)"
  ></app-time-axis>
</div>
<div class="band-container">
  <app-band
    [height]="activityInstancesBand.height"
    [id]="activityInstancesBand.id"
    [marginBottom]="marginBottom"
    [marginLeft]="marginLeft"
    [marginRight]="marginRight"
    [marginTop]="marginTop"
    [maxTimeRange]="maxTimeRange"
    [subBands]="activityInstancesBand.subBands"
    [viewTimeRange]="viewTimeRange"
    [yAxes]="activityInstancesBand.yAxes"
    (deletePoint)="onDeletePoint($event)"
    (savePoint)="onSavePoint($event)"
    (selectPoint)="onSelectPoint($event)"
    (updatePoint)="onUpdatePoint($event)"
  ></app-band>
  <app-band
    *ngFor="let stateBand of stateBands; trackBy: trackByStateBands"
    [height]="stateBand.height"
    [id]="stateBand.id"
    [marginBottom]="marginBottom"
    [marginLeft]="marginLeft"
    [marginRight]="marginRight"
    [marginTop]="marginTop"
    [maxTimeRange]="maxTimeRange"
    [subBands]="stateBand.subBands"
    [viewTimeRange]="viewTimeRange"
    [yAxes]="stateBand.yAxes"
  ></app-band>
  <mat-card *ngIf="stateBands === null">
    No states found. Try running a simulation.
  </mat-card>
</div>
