mat-card {
  margin-top: 5px;
  margin-bottom: 5px;
}

.band-container {
  max-height: var(--max-height, 600px);
  overflow-x: hidden;
  overflow-y: scroll;
}

.controls-container {
  display: flex;
  flex-direction: row;
}

.controls-container > * {
  margin-right: 5px;
}

.time-axis-container {
  height: 65px;
  overflow-x: hidden;
  overflow-y: scroll;
}
