<app-panel-header>
  {{ type === 'create' ? 'Create' : 'Selected' }} Activity Instance
</app-panel-header>

<form class="pb-4">
  <div class="p-1 pt-4">
    <mat-form-field
      *ngIf="type === 'update'"
      appearance="outline"
      class="w-100"
    >
      <mat-label>Id</mat-label>
      <input matInput [formControl]="idControl" />
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>

    <mat-form-field
      *ngIf="type === 'create'"
      appearance="outline"
      class="w-100"
    >
      <mat-label>Activity Type</mat-label>
      <mat-select [formControl]="typeControl" [required]="true">
        <mat-option *ngFor="let type of activityTypes" [value]="type.name">
          {{ type.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="typeControl.invalid">
        You must enter an activity type
      </mat-error>
    </mat-form-field>

    <mat-form-field
      *ngIf="type === 'update'"
      class="w-100"
      appearance="outline"
    >
      <mat-label>Activity Type</mat-label>
      <input matInput [formControl]="typeControl" />
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Start Date</mat-label>
      <input
        autocomplete="off"
        matInput
        type="text"
        placeholder="YYYY-DDDThh:mm:ss"
        [formControl]="startTimestampControl"
        [required]="true"
      />
      <mat-error *ngIf="startTimestampControl.getError('required')">
        You must enter a start date/time
      </mat-error>
      <mat-error
        *ngIf="startTimestampControl.getError('doyTimestamp') as message"
      >
        {{ message }}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="pb-4">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px">
        <mat-panel-title>Parameters</mat-panel-title>
      </mat-expansion-panel-header>

      <div class="expansion-panel-body">
        <activity-instance-form-parameters
          [parameters]="parameters"
          (parameterChange)="onParameterChange($event)"
        ></activity-instance-form-parameters>
      </div>
    </mat-expansion-panel>
  </div>

  <div class="pb-4" *ngIf="type === 'update'">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px">
        <mat-panel-title>Decomposition</mat-panel-title>
      </mat-expansion-panel-header>

      <div class="expansion-panel-body">
        <decomposition-tree
          [activityInstance]="activityInstance"
          [activityInstancesMap]="activityInstancesMap"
        ></decomposition-tree>
      </div>
    </mat-expansion-panel>
  </div>

  <div class="pl-1">
    <button
      class="mr-2"
      color="accent"
      mat-raised-button
      type="button"
      (click)="onCreateOrUpdate()"
    >
      {{ type === 'create' ? 'Create' : 'Update' }}
    </button>

    <button
      *ngIf="type === 'update'"
      type="button"
      class="mr-2"
      mat-raised-button
      color="warn"
      (click)="delete.emit(idControl.value)"
    >
      Delete
    </button>

    <button
      *ngIf="type === 'create'"
      type="button"
      class="mr-2"
      mat-raised-button
      (click)="cancel.emit()"
    >
      Cancel
    </button>
  </div>
</form>
