@import 'bootstrap/dist/css/bootstrap-utilities.min.css';
@import 'tippy.js/dist/tippy.css';
@import 'toastify-js/src/toastify.css';
@import 'ag-grid-community/styles/ag-grid.min.css';

@import '@nasa-jpl/stellar/font/inter/inter.css';
@import '@nasa-jpl/stellar/css/variables.css';
@import '@nasa-jpl/stellar/css/typography.css';
@import '@nasa-jpl/stellar/css/button.css';
@import '@nasa-jpl/stellar/css/input.css';
@import '@nasa-jpl/stellar/css/select.css';
@import '@nasa-jpl/stellar/css/table.css';

@import 'modern-css-reset/dist/reset.min.css';

@import './stellar.css';
@import 'ag-grid-community/styles/ag-theme-alpine.min.css';
@import './ag-grid-stellar.css';
@import './tooltip.css';

html,
body,
#svelte {
  height: 100vh;
  width: 100vw;
}

body {
  background-color: var(--st-primary-background-color);
  color: var(--st-primary-text-color);
  font-family: Inter, Roboto;
  font-size: 12px;
  font-weight: 300;
}

details:not([open]) summary::marker {
  content: url("data:image/svg+xml,%3Csvg width='17' height='8' viewBox='0 0 17 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 4L2 7.4641L2 0.535899L8 4Z' fill='%23222829'/%3E%3C/svg%3E%0A");
}

details[open] summary::marker {
  content: url("data:image/svg+xml,%3Csvg width='17' height='8' viewBox='0 0 17 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 8L0.535899 2L7.4641 2L4 8Z' fill='%23222829'/%3E%3C/svg%3E%0A");
}

label.error,
span.error {
  color: var(--st-red);
}

summary {
  color: var(--st-typography-bold-color);
  cursor: pointer;
  font-family: var(--st-typography-bold-font-family);
  font-size: var(--st-typography-bold-font-size);
  font-weight: var(--st-typography-bold-font-weight);
  letter-spacing: var(--st-typography-bold-letter-spacing);
  line-height: var(--st-typography-bold-line-height);
  padding: 8px 0px;
  user-select: none;
}

fieldset {
  border: 0;
  color: var(--st-typography-body-color);
  font-family: var(--st-typography-body-font-family);
  font-size: var(--st-typography-body-font-size);
  font-weight: var(--st-typography-body-font-weight);
  letter-spacing: var(--st-typography-body-letter-spacing);
  line-height: var(--st-typography-body-line-height);
  margin: 0;
  padding: 8px 16px 0px;
}

.details-body {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: 32px;
  margin-top: 4px;
}

.toastify {
  color: var(--st-white);
}
