/* @import 'bootstrap/dist/css/bootstrap-utilities.min.css'; */
@import 'tippy.js/dist/tippy.css';
@import 'svelte-stellar/index.css';
@import 'toastify-js/src/toastify.css';
@import 'ag-grid-community/styles/ag-grid.min.css';

@import '@fontsource/jetbrains-mono/index.css';

@import '@nasa-jpl/stellar/font/inter/inter.css';
@import '@nasa-jpl/stellar/css/variables.css';
@import '@nasa-jpl/stellar/css/typography.css';
@import '@nasa-jpl/stellar/css/button.css';
@import '@nasa-jpl/stellar/css/input.css';
@import '@nasa-jpl/stellar/css/select.css';
@import '@nasa-jpl/stellar/css/table.css';
@import '@nasa-jpl/stellar/css/badge.css';

@import 'modern-css-reset/dist/reset.min.css';

@import './stellar.css';
@import 'ag-grid-community/styles/ag-theme-alpine.min.css';
@import './ag-grid-stellar.css';
@import './tooltip.css';
@import './icon.css';

html,
body,
#svelte {
  height: 100vh;
  width: 100vw;
}

body {
  background-color: var(--st-primary-background-color);
  color: var(--st-primary-text-color);
  font-family: Inter, Roboto;
  font-size: 12px;
  /* font-weight: 300; */
}

label.error,
span.error {
  color: var(--st-red);
}

fieldset {
  border: 0;
  color: var(--st-typography-body-color);
  display: flex;
  flex-direction: column;
  font-family: var(--st-typography-body-font-family);
  font-size: var(--st-typography-body-font-size);
  font-weight: var(--st-typography-body-font-weight);
  letter-spacing: var(--st-typography-body-letter-spacing);
  line-height: var(--st-typography-body-line-height);
  margin: 0;
  min-width: 0;
  padding: 8px 16px 0px;
}

.toastify {
  color: var(--st-white);
}

.permission-disabled {
  /* using !important so that components do not need to know of permissions */
  cursor: not-allowed !important;
  opacity: 0.5;
}

.permission-disabled:hover {
  cursor: not-allowed;
}

.permission-disabled * {
  pointer-events: none;
}

.st-button.permission-disabled {
  opacity: var(--st-button-disabled-opacity);
}

/* Remove safari input margin */
.st-input {
  margin: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
