/* Aerie Stellar Custom Classes and Overrides. */

:root {
  --st-badge-padding: 0px 5px;
  --st-primary-100: #0d1667;
  --st-primary-90: #1a237e;
  --st-primary-80: #283593;
  --st-primary-70: #303f9f;
  --st-primary-60: #3949ab;
  --st-primary-50: #5c6bc0;
  --st-primary-40: #7986cb;
  --st-primary-30: #9fa8da;
  --st-primary-20: #c5cae9;
  --st-primary-10: #e8eaf6;
  --st-primary: var(--st-primary-90);
  --st-primary-text-color: var(--st-black);
  /* TODO add to stellar */
  --st-utility-blue: #2f80ed;
}

.st-button.ellipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
