/* Aerie Stellar Variable Overrides. */

:root {
  /* Primary Color Pallette. */
  --st-primary: var(--st-primary-90);
  --st-primary-text-color: var(--st-black);

  /* Button. */
  --st-button-focus-box-shadow: 0 0 0 2px var(--st-button-focus-color);

  /* Input. */
  --st-input-focus-box-shadow: 0 0 0 2px var(--st-input-focus-color);

  /* Select. */
  --st-select-border: 0;
  --st-select-focus-box-shadow: 0 0 0 2px var(--st-select-focus-color);
}
