/* Aerie Stellar Variable Overrides. */

:root {
  /* Primary Color Pallette. */
  --st-primary: var(--st-primary-90);
  --st-primary-text-color: var(--st-black);

  /* Select. */
  --st-select-border: 0;
}
