.tooltip {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  display: block;
  font-family: Inter, Roboto;
  font-size: 12px;
  opacity: 0;
  padding: 8px;
  pointer-events: none;
  position: absolute;
  z-index: -1;
}

.tippy-box[data-theme~='error'] {
  color: var(--st-red);
  box-shadow: 0 0 20px 4px rgba(154, 161, 177, 0.15), 0 4px 80px -8px rgba(36, 40, 47, 0.25),
    0 4px 4px -2px rgba(91, 94, 105, 0.15);
  background-color: #f8d7da;
}

.tippy-box[data-theme~='error'][data-placement^='top'] > .tippy-arrow:before {
  border-top-color: #f8d7da;
}

.tippy-box[data-theme~='error'][data-placement^='bottom'] > .tippy-arrow:before {
  border-bottom-color: #f8d7da;
}

.tippy-box[data-theme~='error'][data-placement^='left'] > .tippy-arrow:before {
  border-left-color: #f8d7da;
}

.tippy-box[data-theme~='error'][data-placement^='right'] > .tippy-arrow:before {
  border-right-color: #f8d7da;
}

.tippy-box[data-theme~='error'] > .tippy-backdrop {
  background-color: #f8d7da;
}

.tippy-box[data-theme~='error'] > .tippy-svg-arrow {
  fill: #f8d7da;
}
