<div class="violation" (click)="toggleExpanded()">
  <div class="violation-left">
    <mat-icon *ngIf="expanded"> expand_more </mat-icon>
    <mat-icon *ngIf="!expanded"> chevron_right </mat-icon>
    <div>{{ violation.constraint.name }}</div>
  </div>
  <div class="violation-right">
    <mat-icon
      *ngIf="visible"
      (click)="toggleVisible($event)"
      matRipple
      class="visibility-icon"
      matTooltip="Hide Constraint"
    >
      visibility
    </mat-icon>
    <mat-icon
      *ngIf="!visible"
      (click)="toggleVisible($event)"
      tRipple
      class="visibility-icon"
      matTooltip="Show Constraint"
    >
      visibility_off
    </mat-icon>
  </div>
</div>

<ng-container *ngIf="expanded">
  <ul *ngIf="violation?.associations?.activityInstanceIds?.length">
    <li *ngFor="let id of violation.associations.activityInstanceIds">
      <div class="association">
        <mat-icon>share</mat-icon>{{ activityInstanceIdToType[id] || id }}
      </div>
    </li>
  </ul>
  <ul *ngIf="violation?.associations?.stateIds?.length">
    <li *ngFor="let id of violation.associations.stateIds">
      <div class="association"><mat-icon>share</mat-icon> {{ id }}</div>
    </li>
  </ul>
  <ul *ngIf="violation?.windows?.length">
    <li
      class="ellipsis window"
      (click)="selectWindow.emit(window)"
      *ngFor="let window of violation.windows"
    >
      {{ window.start | doyTimestamp }} -
      {{ window.end | doyTimestamp }}
    </li>
  </ul>
</ng-container>
