:host {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.error {
  overflow: hidden;
  margin-bottom: 1.25em;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.login-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 450px;
}

.login-button {
  display: flex;
  flex-direction: column;
  padding-top: 1.25em;
  width: 100%;
}
