:host {
  background-color: var(--color-primary-300);
  color: white;
  display: block;
  height: 16px;
  overflow: hidden;
  text-transform: uppercase;
  top: 0px;
  white-space: nowrap;
  width: 100%;
  z-index: 1;
}

.title {
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 1.75px;
  line-height: 16px;
  padding: 0 16px;
}
