<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field *ngIf="type === 'update'" class="w-100" appearance="outline">
    <mat-label>Id</mat-label>
    <input
      matInput
      [disabled]="true"
      [readonly]="true"
      [value]="activityInstance.id"
    />
    <mat-icon matSuffix>lock</mat-icon>
  </mat-form-field>

  <mat-form-field
    *ngIf="type === 'create'; else updateBlock"
    class="w-100"
    appearance="outline"
  >
    <mat-label>Activity Type</mat-label>
    <mat-select
      formControlName="type"
      [required]="true"
      [value]="selectedActivityType?.name"
    >
      <mat-option *ngFor="let type of activityTypes" [value]="type.name">
        {{ type.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.controls.type.invalid">
      You must enter an activity type
    </mat-error>
  </mat-form-field>
  <ng-template #updateBlock>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Activity Type</mat-label>
      <input formControlName="type" matInput />
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
  </ng-template>

  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Start Date</mat-label>
    <input
      [required]="true"
      autocomplete="off"
      formControlName="startTimestamp"
      matInput
      type="text"
      placeholder="YYYY-DDDThh:mm:ss"
    />
    <mat-error *ngIf="form.controls.startTimestamp.invalid">
      You must enter a start date/time
    </mat-error>
  </mat-form-field>

  <div class="pb-4" *ngIf="formParameters?.controls.length">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Parameters
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div
          formArrayName="parameters"
          *ngFor="let parameter of formParameters?.controls; let i = index"
        >
          <mat-form-field [formGroupName]="i" class="w-100">
            <mat-label>{{ parameter.value.name }}</mat-label>
            <input
              autocomplete="off"
              formControlName="value"
              matInput
              type="text"
              [errorStateMatcher]="errorStateMatcher"
              (input)="inputListener.next(parameter)"
              [value]="parameter.value.value"
            />
            <mat-hint>type: {{ parameter.value.type }}</mat-hint>
            <mat-error>
              {{ parameter.controls.value.getError('invalid') }}
            </mat-error>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <button
    class="mr-2"
    mat-raised-button
    color="accent"
    [disabled]="!form.valid"
  >
    {{ type === 'create' ? 'Create' : 'Update' }}
  </button>

  <button
    *ngIf="type === 'update'"
    type="button"
    class="mr-2"
    mat-raised-button
    color="warn"
    (click)="delete.emit(activityInstance.id)"
  >
    Delete
  </button>

  <button
    *ngIf="type === 'create'"
    type="button"
    class="mr-2"
    mat-raised-button
    (click)="cancel.emit()"
  >
    Cancel
  </button>
</form>
