name: ci

on:
  push:
    branches:
      - develop
      - staging
    tags:
      - v*

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16.13.0'
