<h1 *ngIf="data.mode === 'create'" mat-dialog-title>
  Create {{ data.type | startcase }} Guide
</h1>
<h1 *ngIf="data.mode === 'edit'" mat-dialog-title>
  Edit {{ data.type | startcase }} Guide
</h1>

<div mat-dialog-content>
  <form
    *ngIf="data?.type === 'horizontal'"
    class="p-1"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <div class="alert alert-warning" *ngIf="form.controls.yAxis.value === null">
      This band has no axes so horizontal guides will not be visible.
    </div>
    <div
      class="alert alert-info"
      *ngIf="form.controls.yAxis.value?.scaleDomain.length === 0"
    >
      This axis has no domain so horizontal guides will not be visible yet.
    </div>
    <mat-form-field
      *ngIf="data?.yAxes?.length"
      class="w-100"
      appearance="outline"
    >
      <mat-label>Y-Axis</mat-label>
      <mat-select formControlName="yAxis">
        <mat-option *ngFor="let axis of data.yAxes" [value]="axis">
          {{ axis.label.text }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Label</mat-label>
      <input
        [required]="true"
        autocomplete="off"
        formControlName="label"
        matInput
        minlength="1"
        maxlength="20"
        type="text"
      />
      <mat-error *ngIf="form.controls.label.getError('required')">
        You must enter label
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Y-Value</mat-label>
      <input
        [required]="true"
        autocomplete="off"
        formControlName="y"
        matInput
        type="number"
      />
      <mat-error *ngIf="form.controls.y.getError('required')">
        You must enter a Y-value
      </mat-error>
    </mat-form-field>

    <button
      class="mr-2"
      [disabled]="form.invalid"
      mat-raised-button
      color="primary"
      type="submit"
    >
      {{ data.mode === 'edit' ? 'Update' : 'Create' }}
    </button>

    <button type="button" mat-raised-button (click)="onCancel()">
      Cancel
    </button>
  </form>
</div>
